body {
    padding-top: 90px;
    color:#3A6351;
    background-color: #FCF0C8;
}

a:visited {
    color: #3A6351;
}
a:link {
    color:saddlebrown;
}
a:hover {
    color:brown;
}
.btn-custom {
    color:ghostwhite;
    background-color: #E05D5D;
}
nav a:visited {
    color:beige;
}
nav a:link {
    color:#3A6351;
}
nav a:hover {
    color:#3A6351;
}

.navbar {
    color:#95DAC1;
    background-color: #3A6351;
}
/* adding background colour to the tabs in admin page */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
     color:#95DAC1;
    background-color: lightgoldenrodyellow;
}
/* adding styling to text inside tabs in admin page */
.nav-tabs > li > a {
   font-size: 16px;
   font-weight: bold;
   border: 1px solid #ddd;
}